*{
    margin: 0;
    padding: 0;
}

#control_container{
    width: 40%;
    margin: 50px auto;
    /*background-color:*/
}

#new_room_info {
    display: flex;
    flex-direction: column;
}

#room_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room_box {
    width: 33%;
    height: 300px;
    border: 1px solid black;
}

#room_info {
    display: flex;
    flex-direction: column;
}


